@font-face {
  font-family: 'notosans_regular';
  src: url("../fonts/notosans-regular-webfont.eot");
  src: url("../fonts/notosans-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/notosans-regular-webfont.woff2") format("woff2"),
  url("../fonts/notosans-regular-webfont.woff") format("woff"),
  url("../fonts/notosans-regular-webfont.ttf") format("truetype"),
  url("../fonts/notosans-regular-webfont.svg#notosans-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notosans_bold';
  src: url("../fonts/notosans-bold-webfont.eot");
  src: url("../fonts/notosans-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/notosans-bold-webfont.woff2") format("woff2"),
  url("../fonts/notosans-bold-webfont.woff") format("woff"),
  url("../fonts/notosans-bold-webfont.ttf") format("truetype"),
  url("../fonts/notosans-bold-webfont.svg#notosans-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  font-family: "Trebuchet MS Regular Unicode";
}
#wrapper {
  position: relative;
  overflow: hidden;
}

h1 {
  font: 63px "notosans_regular";
}
h2 {
  font: 20px "notosans_bold";
}
h3 {
  font: 16px "notosans_bold";
}
h4 > span {
  font: 15px "notosans_regular";
}
.about-text2 h4 {
  font: 18px "notosans_regular";
}
h5 {
  font: 14px "notosans_bold";
}
p {
  font: 15px "notosans_regular";
}
ol {
  font: 15px "notosans_regular";
}
a {
  font: 15px "notosans_regular";
}


/* HEADER */
.header {
  width: 1170px;
  height: 130px;
  margin: 0 auto;
  text-align: center;
}
.header img {
  margin: 50px 0;
  float: left;
}

/* TOGGLE-MENU */
.menu-container ul {
  margin: 55px 0;
  float: right;
  overflow: hidden;
}
.menu-container li {
  display: inline-block;
}
.menu-container a {
  padding: 0 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-container a:hover {
  color: #1bbeb4;
}


/* SLIDER */
.item .text {
  top: 40%;
  left: 280px;
  display: block;
  position: absolute;
}
.text h1 {
  margin: 0;
  color: #252525;
  text-transform: uppercase;
}
.text hr {
  height: 2px;
  margin: 0;
  background-color: #252525;
  border: none;
}
.text p {
  top: -50px;
  display: block;
  font-size: 14px;
  position: absolute;
}
.text a {
  margin: 20px 155px 20px 0;
  padding: 15px;
  color: #fff;
  background: #252525;
  text-align: center;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.text a:hover {
  color: #fff;
  background: #4d4d4d;
}


/* MAIN */
.main {
  width: 1170px;
  margin: 0 auto;
}
h4 {
 font-weight: normal;
 text-align: center;
 position: relative;
 overflow: hidden;
}
h4 > span {
  margin: 0 .4em;
  display: inline-block;
}
h4 > span:before,
h4 > span:after {
  width: 100%;
  margin-top: .6em;
  border-top: 2px solid #000;
  content: '';
  position: absolute;
}
h4 > span:before {
  margin-left: -102%;
}
h4 > span:after {
  margin-left: 2%;
}


/* BXSLIDER-2 */
.bxslider2 {
  width: 1170px;
}
.bxslider2 li {
  width: 270px;
  margin-right: 20px;
}
.bxslider2 h3 {
  font:18px "notosans_bold";
  margin: 10px 0 0;
}
.bxslider2 h3 a:hover {
  color: #1bbeb4;
}
.bxslider2 span {
  font:14px "notosans_regular";
}
.bxslider2 p {
  bottom: 52px;
  font:14px "notosans_bold";
  float: right;
  display: block;
  position: relative;
}
.impact-text {
  position: relative;
}
.impact-text img {
  width: 100%;
  height: 100px;
  display: block;
}
.impact-text h2 {
  width: 1170px;
  padding: 1.1% 0;
  top: 0;
  left: 365px;
  display: block;
  text-transform: uppercase;
  position: absolute;
  overflow: hidden;
}
.container {
  width: 1170px;
  margin: auto;
  display: block;
  overflow: hidden;
}
.blog {
  width: 50%;
  float: left;
}
.blog .spb_heading {
  width: 96%;
}
.blog .blog-text {
  width: 270px;
  float: left;
}
.overlay {
  height: 270px;
}
.details h5 a {
  font:16px "notosans_bold";
  margin: 5px 0 10px;
  color: #252525;
}
.details h5 a:hover, .post:hover {
  color: #1bbeb4;
}
.details h5, .details span {
  margin: 10px auto 0;
}
.details span, .mini-box span {
  font: 14px "notosans_regular";
}
.post {
  width: 87px;
  margin: 10px 0;
  color: #252525;
  display: block;
  overflow: hidden;
  text-decoration: none;
  border-bottom: dotted;
}
.two {
  margin: 0 0 0 20px;
}
.team, .race {
 width: 23.9%;
 margin: 0 0 0 0;
 float: left;
 display: block;
}
.team {
  margin: 0 25px 0 0;
}
.team img {
  width: 100px;
  padding-right: 20px;
  float: left;
}
.mini-box {
  height: 90px;
  padding: 0 0 0 100px;
  position: relative;
}
.mini-box h3 {
  margin: 0 auto;
}
.mini-list li a {
  padding: 0;
}
.mini-box h3 a:hover {
  color: #1bbeb4;
}
.mini-box span {
  margin: 0;
}
.map iframe {
  width: 270px;
  height: 270px;
}
.sponsors {
  width: 100%;
  margin: 70px 0 40px;
  display: block;
}
.sponsors, .pricing h4 {
  width: 1170px;
  margin: 20px auto 30px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
}


/* FOOTER */
.footer {
  width: 100%;
  margin: auto;
  color: #cccccc;
  background: #252525;
  overflow: hidden;
}
.footer-block {
  width: 1170px;
  margin: auto;
}
.about {
  width: 50%;
  float: left;
}
.about .spb_heading {
  width: 96%;
}
.about .welcome {
  width: 262px;
  margin: 0 10px;
  float: left;
}
.welcome h2 {
  margin: 0;
}
.welcome p {
  margin: 0;
  bottom: 0;
}
hr {
  margin: 0 0 10px;
}
em {
  font: 12px "Shruti";
}
.list {
  width: 262px;
  height: 200px;
  margin: 0 10px;
  float: inherit;
}
.footer h4 > span:before,
.footer h4 > span:after {
  width: 100%;
  margin-top: .6em;
  border-top: 2px solid #cccccc;
  content: '';
  position: absolute;
}
.list  li {
  display: block;
}
.list i {
  float: right;
}
.list  a {
  font-size: 14px;
  color: #cccccc;
  text-decoration: none;
}
.list a:hover {
  color: #1bbeb4;
}
.welcome .the {
  top: 13px;
  right: 90px;
  font-size: 12px;
}
.legal_info, .follow_us {
  width: 23.5%;
  margin: 0 0 0 0;
  display: block;
  float: left;
}
.follow_us .social {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.social i {
  margin: 0;
  padding: 10px 10px;
  border-radius: 500%;
  background: #bebebe;
}
.social .fa-facebook, .social .fa-tumblr {
  padding: 5px 10px;
  font-size: 22px;
}
.social .fa-twitter {
  padding: 5px 6px;
  font-size: 22px;
}
.social .fa-pinterest-p {
  padding: 5px 8px;
  font-size: 22px;
}
.social .fa-vimeo {
  padding: 5px 5px;
  font-size: 22px;
}
.social a {
  margin: 3px;
  color: #252525;
}
.social a:hover {
  color: #4d4d4d;
}
.social i:hover {
  background: #948c8c;
}
.legal_info {
  margin: 0 29px 0 6px;
}
.follow_us hr {
  margin: 15px 0;
}
.form {
  margin: 0;
  position: relative;
}
form {
  width: 100%;
}
.form b {
  font-size: 13px;
}
form input {
  width: 83%;
  padding: 10px;
  border-radius: 4px 0 0 4px;
  border: none;
  background: #bebebe;
}
input {
  height: 33px;
  outline: none;
}
.form .btn {
  width: 45px;
  right: 0;
  padding: 0;
  color: #252525;
  border-radius: 0 4px 4px 0;
  position: absolute;
  background: #bebebe;
}
.form .btn:hover {
  color: #bebebe;
  background: #4d4d4d;
}
.copyrirht {
  width: 100%;
  display: block;
  overflow: hidden;
  background: #000;
}
.copyrirht .container {
  display: table;
}
.copyrirht .container p {
  padding: 10px 0;
  font-size: 11px;
  color: #666666;
  float: left;
  display: block;
}
.copyrirht a {
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}


/* PAGE */
.page-heading {
  background-image: url("../images/title_rp_bkg.png");
  background-repeat: repeat;
  height: 115px;
  background-position: center top;
  background-size: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto 50px;
  position: relative;
  text-align: left;
  border-bottom: 1px solid transparent;
  border-top: 0!important;
}
.page-container {
  max-width: 100%;
}
.page-heading .heading-text {
  width: 1170px;
  margin: 0 auto;
}
.heading-text h1 {
  font-weight: normal;
  font: 23px "notosans_regular";
}
#breadcrumbs {
  margin: 10px 0;
  color: #999999;
}
#breadcrumbs {
  background: #ffffff;
}
#breadcrumbs {
  font-size: 11px;
  line-height: 22px;
  overflow: hidden;
  position: absolute;
  top: 42px;
  right: 375px;
  margin: 0;
  padding: 8px 10px 6px;
  float: right;
  white-space: nowrap;
  -moz-border-radius: 4px / 4px 4px 4px 4px;
  -webkit-border-radius: 4px / 4px 4px 4px 4px;
  border-radius: 4px / 4px 4px 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
}
#breadcrumbs a, #breadcrumb i {
  color: #000;
}
#breadcrumbs a:hover {
  color: #1bbeb4;
}
#breadcrumbs a {
  float: none;
  text-decoration: none;
}
a, .ui-widget-content a {
  color: #666666;
  text-decoration: none;
}
.ui-widget-content a:hover {
  color: #1bbeb4;
}
a {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#breadcrumbs i, .widget_breadcrumb_navxt i {
  padding: 0 8px;
  font-size: 11px;
  width: 5px;
}
#widget .fa-angle-right {
  float: right;
}
i[class^="fa-"] {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content {
  width: 1170px;
  margin: 0 auto 50px;
}
.about-text {
  float: left;
  width: 730px;
}
.about-text2 {
  width: 90%;
  margin: auto;
}
.about-text2 img {
  width: 100%;
  margin: 0 0 30px 0;
}
.about-text2 h3 {
  text-align: inherit;
  font: 16px "notosans_regular";
}
.content_element {
  margin: 20px auto;
}
.numbered-list {
  font: 15px "notosans_bold";
}
.numbered-list ul li {
  font: 14px "notosans_regular";
  font-style: italic;
}
.about-text, .about-text2 p {
  line-height: 22px;
  margin: 0 0 10px;
  color: #252525;
}
.about-text img {
  width: 100%;
}
.sidebar {
  width: 412px;
  float: right;
  padding-left: 20px;
}
#widget {
  padding-bottom: 10px;
}
#widget form {
  position: relative;
  margin-bottom: 0;
}
.sidebar form {
  margin: 0 0 20px;
}
#widget form input {
  background: #f7f7f7;
}
#widget form input {
  margin: 0;
  border: 0;
  width: 100%;
  height: 32px;
  font-size: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#widget ul {
  margin: 0;
  list-style: none;
}
#widget ul {
  list-style: none;
  margin: 0 0 20px;
}
#widget ul > li:first-child, #widget ul > li:first-child, #widget ul > li:first-child, #widget_ ul > li:first-child, #widget ul > li:first-child, #widget ul > li:first-child, #widget ul > li:first-child, #widget ul li:first-child {
  border-top: 0;
}
.widget ul li {
  border-color: #e4e4e4;
}
.widget ul li {
  margin-bottom: 0;
  line-height: 16px;
}
#widget ul li > a {
  padding: 5px 0;
  font: 16px "notosans_regular";
  display: block;
}
#widget ul li a {
  text-decoration: none;
}
#widget ul li a:hover {
  color: #3ea69f;
}
#widget h4 {
  margin: 15px 0;
}
#widget hr {
  margin: 0 0 5px;
}
#widget img {
  margin: 15px auto;
  width: 110px;
  float: left;
  padding-right: 20px;
}
#widget a {
  color: #666666;
  font: 6px "notosans_regular";
}
#widget h3 {
  margin: 10px 0 0;
  color: #666666;
}
#widget span {
  font: 15px "notosans_regular";
}
#widget .mini-box a {
  color: #666666;
  font: 16px "notosans_regular";
}
#widget .mini-box a:hover {
  color: #3ea69f;
}
.recent-posts-list li .recent-post-details .comments-likes {
  float: none;
  margin-top: 5px;
  font-size: 12px!important;
}
.recent-posts-list li .recent-post-details .comments-likes {
  float: none;
  margin-top: 5px;
  font: 12px "notosans_regular";
}
.love-it-wrapper {
  font-size: 12px;
}
.comments-likes .fa-comments {
  margin-right: 5px;
}
.comments-likes a i {
  color: #252525;
}
.love-it-wrapper a i {
  color: #252525;
}
.comments-likes a i:hover {
  color: #1bbeb4;
}
.comments-likes .love-it-wrapper a i:hover {
  color: #1bbeb4;
}
.comments-likes .love-it-wrapper {
  margin-left: 5px;
}
.comments-likes .love-it-wrapper {
  display: inline-block;
}
.comments-likes .love-it-wrapper a {
  text-decoration: none;
}
.comments-likes .love-it-wrapper a i, .comments-likes a span, .comments-likes .love-it-wrapper a i {
  color: #252525;
}
.love-it-wrapper a {
  font: 14px "notosans_regular";
}
.comments-likes .love-it-wrapper span.love-count {
  margin-left: 1px;
}
span.love-count {
  font: 15px "notosans_regular";
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#widget .wp-tag-cloud {
  margin: 0;
  padding: 0;
  list-style: none;
  height: auto;
  overflow: hidden;
}
#widget .wp-tag-cloud li {
  float: left;
  margin-bottom: 4px;
}
#widget ul.wp-tag-cloud li > a {
  margin-right: 4px;
  padding: 6px 8px;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
  font: 16px "notosans_regular";
}
#widget ul.wp-tag-cloud li > a:hover {
  color: #fff;
  background: #1bbeb4;
}
#widget ul li {
  border-color: #e4e4e4;
}
#widget_sf_infocus_widget .infocus-item {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}


/* BLOG */
.img-list {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.img-list li {
  width: 100%;
  height: 395px;
  position: relative;
}
.img-list img {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.img-list hr {
  overflow: hidden;
  width: 98%;
  margin: 140px auto;
}
.image-blog {
  float: left;
}
.blog-details {
  overflow: hidden;
  display: block;
  padding: 0 15px;
}
.blog-details h3 {
  margin: 10px 0 0;
  color: #666666;
}
.blog-details p {
 line-height: 22px;
 color: #666666;
}
.img-list span {
  color: #666666;
}
.img-list span:hover {
  color: #1bbeb4;
}
.blog-item-details {
  color: #666666;
  font: 16px "notosans_regular";
}
.blog-details a {
  color: #666666;
  font: 18px "notosans_regular";
}
.blog-details a:hover {
  color: #1bbeb4;
}
.pagination-wrap {
  margin-top: 30px;
}
.pagination-wrap ul {
  height: auto;
  text-align: center;
  overflow: hidden;
  margin: 15px 0;
}
.pagination-wrap ul li {
  float: none;
  margin: 0 -2px;
}
.pagination-wrap li {
  float: left;
  display: inline-block;
  margin-bottom: 0;
}
.pagination-wrap li span.current, .pagination-wrap li a:hover {
  color: #ffffff;
  background: #1bbeb4;
  border-color: #1bbeb4;
  padding: 10px 16px;
  border: 1px solid transparent;
  display: block;
  margin-right: -1px;
  text-decoration: none;
}
.pagination-wrap li:first-child {
  border-left: 0;
}
.pagination-wrap li a, .pagination-wrap li span {
  background-color: #ffffff;
  padding: 10px 16px;
  border: 1px solid transparent;
  display: block;
  margin-right: -1px;
  text-decoration: none;
}
.pagenavi .active {
  color: #fff;
  background-color: #1bbeb4;
  border: 1px solid transparent;
}
.pagination-wrap li a, .pagination-wrap li span.expand {
  color: #252525;
  border-color: #e4e4e4;
}
.pagination-wrap li.next a {
  margin-left: -1px;
}
.pagination-wrap li i {
  margin: 0 0 0 5px;
}
.pagination-wrap2 {
  margin-top: 30px;
}
.pagination-wrap2 ul {
  height: auto;
  text-align: center;
  overflow: hidden;
  margin: 15px 0;
}
.pagination-wrap2 ul li {
  float: none;
  margin: 0 -2px;
}
.pagination-wrap2 li {
  float: left;
  display: inline-block;
  margin-bottom: 0;
}
.pagination-wrap2 li span.current, .pagination-wrap2 li a:hover {
  color: #ffffff;
  background: #1bbeb4;
  border-color: #1bbeb4;
  padding: 10px 16px;
  border: 1px solid transparent;
  display: block;
  margin-right: -1px;
  text-decoration: none;
}
.pagination-wrap2 li:first-child {
  border-left: 0;
}
.pagination-wrap2 li a, .pagination-wrap2 li span {
  background-color: #ffffff;
  padding: 10px 16px;
  border: 1px solid transparent;
  display: block;
  margin-right: -1px;
  text-decoration: none;
}
.pagination-wrap2 li a, .pagination-wrap2 li span.expand {
  color: #252525;
  border-color: #e4e4e4;
}
.pagination-wrap2 li.next a {
  margin-left: -1px;
}
.pagination-wrap2 li i {
  margin: 0 5px 0 0;
}
.content:first-child {
  display: block;
}


/* POST */
.form-row {
  width: 50%;
  height: 580px;
  float: left;
}
.form-row h4 {
  margin: 0 0 20px;
  position: relative;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
}
.form-row h4 > span {
  display: inline-block;
  margin: 0 .4em;
}
.form-row h4 > span:before,
.form-row h4 > span:after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 2px solid #4e4e4e;
  margin-top: .6em;
}
.form-row h4 > span:before {
  margin-left: -102%;
}
.form-row h4 > span:after {
  margin-left: 2%;
}
.form-row form {
  width: 100%;
  display: block;
}
.form-row label {
  font: 13px "notosans_regular";
  line-height: 2;
}
.form-row form input, form textarea {
  width: 100%;
  padding: 15px 20px;
  margin: 0 0 15px;
  border: 1px #e7e7e7 solid;
  color: #666666;
  background-color: #f8f8f8;
  box-sizing: border-box;
}
#btn {
  width: 13%;
  background-color: #1bbeb4;
  color: #ffffff;
  position: relative;
  display: inline-block;
  font: 14px "notosans_regular";
  line-height: 18px;
  height: auto;
  padding: 8px 28px 7px 14px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.btn-arrow i {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  margin: 14px 0 0 -25px;
  position: absolute;
}
#btn:hover {
  background-color: #20dfd2;
}
.map-row {
  width: 45%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0;
}
.map-row iframe {
  width: 526px;
  height: 500px;
}


/* BXSLIDER */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bx-wrapper {
  margin: 0 auto;
  position: relative;
}
.pricing-carousel .bx-wrapper {
  width: 1170px;
}
.carousel .bx-wrapper {
  width: 1170px;
}
.bx-wrapper img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.bx-prev, .bx-next {
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  color: #000;
  background: #fff;
  width: 40px;
  padding: 0 0 0 4px;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  text-align: center;
  border-radius: 50%;
  transition: all ease .3s;
  z-index: 10;
  cursor: pointer;
}
.bx-prev:hover, .bx-next:hover, .bx-prev:active, .bx-next:active {
  background: #c0c0c0;
}
.bx-prev {
  left: 20px;
}
.bx-next {
  right: 20px;
}
.bx-prev:before, .bx-next:before {
  font-family: "FontAwesome";
}
.bx-prev:before {
  margin: 0 8px 0 0;
  content: "\f104";
}
.bx-next:before {
  content: "\f105";
}
.bx-caption {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: .3s ease-in-out;
  padding: 2em;
  background: rgba(255,255,255,.9);
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
}


/* CAROUSEL */
.carousel .bx-prev, .carousel .bx-next {
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  color: #fff;
  background: #000;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  transition: all ease .3s;
  z-index: 10;
  cursor: pointer;
}
.carousel .bx-prev {
  left: 0;
}
.carousel .bx-next {
  right: 0;
}
.carousel .bx-prev:hover, .carousel .bx-next:hover, .bx-prev:active, .bx-next:active {
  background: #262626;
}
.pricing-carousel .bx-prev, .pricing-carousel .bx-next {
  text-decoration: none;
  position: absolute;
  top: 40%;
  margin-top: -15px;
  color: #fff;
  background: #000;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  transition: all ease .3s;
  z-index: 10;
  cursor: pointer;
}


/* PRICING-CAROUSEL */
.pricing-carousel .bx-prev:hover, .pricing-carousel .bx-next:hover, .bx-prev:active, .bx-next:active {
  background: #262626;
}
.pricing-carousel .bx-prev {
  left: 0;
}
.pricing-carousel .bx-next {
  right: 0;
}
.pricing-carousel .bx-prev:before, .pricing-carousel .bx-next:before {
  font-family: "FontAwesome";
}
.pricing-carousel .bx-prev:before {
  content: "\f104";
}
.pricing-carousel .bx-next:before {
  content: "\f105";
}
.pricing-carousel .bx-caption {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: .3s ease-in-out;
  padding: 2em;
  background: rgba(255,255,255,.9);
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
}



/* Responsive */
@media screen and (max-width: 1440px) {
  .header {
    width: 80%;
  }
  .item .text {
    left: 185px;
  }
  #breadcrumbs {
    right: 125px;
  }
  .impact-text h2 {
    left: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .page-heading .heading-text {
    width: 75%;
  }
}

@media screen and (max-width: 1245px) {
  .pricing-carousel .bx-wrapper {
    width: 870px; 
  }
  .carousel .bx-wrapper {
    width: 770px;
  }
  .container {
    width: 930px;
  }
  .blog {
    width: 100%;
  }
  .blog .spb_heading {
    width: 100%;
  }
  .blog .blog-text {
    margin: 0 97px;
  }
  .team, .race {
    width: 45%;
  }
  .team {
    margin: 0 93px 0 0;
  }
  .team ul {
    margin: 0 70px;
  }
  .map iframe {
    width: 420px;
  }
  .sponsors, .pricing h4 {
    width: 80%;
  }
  .footer {
    width: 100%;
  }
  .footer-block {
    width: 90%;
  }
  .about .spb_heading {
    width: 96%;
  }
  .list {
    width: 40%;
  }
  .about .welcome {
    width: 45%;
  }
  .legal_info {
    margin: 0 20px 0 6px;
  }
  .legal_info .list {
    width: 90%;
  }
}

@media screen and (max-width: 1180px) {
  .carousel .bx-wrapper {
    width: 770px;
  }
  .content {
    width: 95%;
  }
  .img-list li {
    top: -300px;
    width: 50%;
    margin: auto;
  }
  .blog-details {
    width: 95%;
  }
  .img-list img {
    margin-top: 300px;
  }
  .img-list img:first {
    margin-top: 0;
  }
  .img-list hr {
    margin: 5px auto;
  }
  .about-text, .about-text2 p {
    margin: initial;
  }
  .about-text {
    margin: auto;
    width: 80%;
    float: initial;
  }
  .sidebar {
    width: 80%;
    float: initial;
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .item .text {
    top: 30%;
    left: 105px;
  }
  .pricing-carousel .bx-wrapper {
    width: 570px; 
  }
  .impact-text h2 {
    width: 950px;
    padding: 2% 0;
    left: 70px;
  }
  .bx-wrapper li {
    width: 230px;
  }
  .carousel .bx-wrapper {
    width: 775px;
  }
  .footer-block {
    width: 95%;
  }
  .about {
    width: 100%;
  }
  .about .spb_heading {
    width: 100%;
  }
  .about .welcome {
    width: 45%;
    text-align: center;
  }
  .list {
    width: 45%;
  }
  .blog-item-details {
    font: 11px "notosans_regular";
  }
  .blog-details {
    padding: 0 0 0 10px;
  }
  .blog-details h3 {
    margin: 5px 0;
  }
  .legal_info, .follow_us {
    width: 45%;
    margin: 0 22px;
  }
  .legal_info .list {
    width: 90%;
  }
  .legal_info, .follow_us {
    margin: 0 10px;
  }
  form input {
    width: 88%;
  }
  .form .btn {
    width: 48px;
  }

  /* page */
  #breadcrumbs {
    display: none;
  }
  .about-text2 img {
    width: 100%;
  }
  .img-list hr {
    margin: 10px auto;
    position: absolute;
  }
  .img-list li {
    top: initial;
    height: 630px;
  }
  .pagination-wrap {
    margin-top: 0;
  }
  .about-text img {
    width: 100%;
  }
  .map-row iframe {
    width: 420px;
  }
  #btn {
    width: 18%;
  }

  /* page */
  #widget img {
    width: 70px;
    margin: 0 0 0 0;
    padding: 10px 0 0;
  }
  .img-list img {
    width: 100%;
    margin: 0;
  }
  .blog-details {
    padding: 0 0 0 10px;
  }
  .image-blog .hover {
    width: 51.7%;
    height: 107.2%;
    left: 0;
    bottom: -20px;
  }
  .form-row {
    float: initial;
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .map-row {
    margin: auto;
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 980px) {
  .carousel .bx-wrapper {
    width: 570px;
  }
}

@media screen and (max-width: 950px) {
  .carousel .bx-wrapper {
    width: 570px; 
  }
  .container {
    width: 380px;
  }
  .blog .blog-text {
    margin: 0 55px 20px;
  }
  .details {
    text-align: center;
  }
  .blog-details a {
    font: 15px "notosans_regular";
  }
  .blog-details {
    padding: 20px 0 40px 10px;
  }
  .post {
    margin: 20px auto;
  }
  .team, .race {
    width: 100%;
  }
  .team ul {
    margin: 0 55px;
  }
  .map iframe {
    width: 380px;
  }
}

@media screen and (max-width: 890px) {
  .carousel .bx-wrapper {
    width: 370px; 
  }
}

@media screen and (max-width: 768px) {

  /* TOGGLE-MENU */
  .menu-container ul {
    margin: 0;
  }
  .menu-container {
    top: 0;
    position: fixed;
    z-index: 100;
    background: #eff1f6;
    width: 125px;
    right: -125px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-container.menu-open {
    right: 0px;
  }
  .toggle-menu {
    top: 35px;
    right: 15px;
    height: 40px;
    margin: 0 20px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    padding: 10px 10px;
    background: #eff1f6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .toggle-menu .icon-bar {
    height: 3px;
    display: block;
    width: 30px;
    opacity: 1;
    background: #000;
    margin-bottom: 5px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .toggle-menu.active {
    right: 105px;
  }
  .toggle-menu .icon-bar:last-child {
    margin-bottom: 0;
  }
  .toggle-menu .icon-bar.hide-closed {
    transition-duration: 0.4s;
  }
  .toggle-menu.active {
    padding-top: 18px;
    height: 40px;
  }
  .toggle-menu.active .icon-bar {
    margin-bottom: -3px;
  }
  .toggle-menu.active .skew-clock {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .toggle-menu.active .hide-closed {
    opacity: 0 !important;
  }
  .toggle-menu.active .skew-counter {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-text {
   top: 0;
   right: 100px;
   position: fixed;
   color: #000;
   font-size: 20px;
   line-height: 75px;
   text-transform: uppercase;
 }
 .menu {
  width: 100%;
  margin: 0 0 30px 0;
  list-style: none;
}
.menu li {
  width: 100%;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.menu-container li.active a, .menu-container a:hover {
  color: #1bbeb4;
  padding: 10px;
  background: #eff1f6;
}
.menu li a {
  display: block;
  color: #666666;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.menu li a:hover {
  color: #1bbeb4;
  padding: 10px;
}
.menu li .current-menu-item {
  color: #00bbeb;
}
.nav a {
  padding: 30px 15px;
}
.item .text {
  display: none;
}
h1 {
  font: 40px "notosans_regular";
}
.text a {
  margin: 20px 0 0;
}
.pricing-carousel .bx-wrapper {
  width: 270px;
}
.pricing-carousel .bx-prev, .pricing-carousel .bx-next {
  top: 40%;
}
.impact-text h2 {
  width: 700px;
}
.img-list hr {
  margin: 0 auto;
}
.blog .blog-text {
  margin: 0 40px;
}
.team {
  margin: 0;
}
.team ul {
  margin: 0 20px;
}
.map iframe {
  width: 100%;
}
.carousel .bx-wrapper {
  width: 570px;
}
.footer-block {
  width: 95%;
}
.about .welcome {
  width: 42%;
}
.list {
  width: 35%;
  margin: 0 60px;
}
.legal_info, .follow_us {
  width: 43%;
}
.legal_info .list {
  width: 183px;
}
form input {
  width: 83%;
}

/* blog */
p {
  font: 13px "notosans_regular";
}
#widget img {
  padding: 22px 0 0;
}
.mini-box {
  height: 140px;
  padding: 0 0 0 100px;
}
.map-row iframe {
  width: 315px;
}
#btn {
  width: 25%;
}
}


@media screen and (max-width: 730px) {
  .carousel .bx-wrapper {
    width: 370px;
  }
  .about .welcome, .list {
    width: 95%;
    margin: 0;
  }
  .legal_info .list {
    width: 100%;
  }
  .legal_info, .follow_us {
    width: 95%;
  }
  form input {
    width: 92%;
  }
}

@media screen and (max-width: 425px) {
  .bx-prev, .bx-next {
    position: inherit;
    color: #fff;
  }
  .pricing-carousel .bx-prev, .pricing-carousel .bx-next {
    top: 40%;
  }
  .carousel .bx-prev, .carousel .bx-next {
    top: 50%;
  }
  .item .text {
    display: none;
  }
  .sponsors, .pricing h4 {
    width: 380px;
  }
  .pricing-carousel .bx-wrapper {
    width: 270px;
  }
  .impact-text h2 {
    width: 380px;
    padding: 4.7% 0;
  }
  .carousel .bx-wrapper {
    width: 380px;
  }
  .carousel .bx-wrapper {
    width: 370px;
  }
  .copyrirht {
    padding: 0 20px;
  }
  .about .welcome {
    width: 100%;
    margin: 20px 0;
    padding: 0 40px;
  }
  .list {
    width: 100%;
    margin: 10px 0;
  }
  .img-list img {
    width: 100%;
  }
  .legal_info, .follow_us {
    width: 100%;
    margin: 0;
  }
  .legal_info .list {
    width: 100%;
  }
  form {
    width: 101%;
    padding: 25px 0;
  }
  form input {
    width: 87%;
  }
  .form .btn {
    width: 46px;
    right: 28px;
  }

  /* page */
  .heading-text h1 {
    position: absolute;
    margin: 20px 25px;
  }
  .img-list li {
    width: 70%;
    height: 610px;
  }
  .img-list hr {
    margin: 20px auto;
  }
  .blog-details {
    padding: 20px 0 0 10px;
  }
  .image-blog .hover {
    width: 100%;
    height: 48%;
    left: 0;
    bottom: 288px;
  }
  .image-blog .hover i {
    top: 40%;
    left: 170px;
  }

  /* blog */
  .sidebar {
    width: 100%;
    padding-left: 0;
    margin: 0 auto 30px;
  }
  .about-text {
    width: 100%;
  }

  /* post */
  .map-row iframe {
    width: 100%;
    height: 300px;
  }
  .content-contact {
    width: 100%;
    height: 1080px;
  }
}

@media screen and (max-width: 375px) {
  .sponsors, .pricing h4, .container, .footer-block {
    width: 300px;
  }
  .impact-text h2 {
    width: 170px;
    top: 0;
    margin: 0;
    padding: 6.4% 0;
  }
  .blog .blog-text {
    margin: 0 13px 20px;
  }
  .team ul {
    margin: 0 70px;
  }
  .carousel .bx-wrapper {
    width: 170px;
  }
  .carousel .bx-prev {
    left: -35px;
  }
  .carousel .bx-next {
    right: -35px;
  }
  .blog-details {
    padding: 0 0 0 10px;
  }
  .image-blog .hover {
    height: 38%;
    bottom: 343px;
  }
  .image-blog .hover i {
    left: 135px;
  }
  #btn {
    width: 30%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 250px;
  }
  .sponsors, .pricing h4, .container, .footer-block {
    width: 280px;
    padding: 0;
  }
  .copyrirht .container {
    width: 260px;
  }
  .content {
    width: 300px;
    padding: 0 10px;
  }

  /* post */
  .image-blog .hover {
    bottom: 295px;
    height: 40%;
  }
  .image-blog .hover i {
    top: 40%;
    left: 125px;
  }
  .blog-details {
    padding: 10px 0 0 10px;
  }
  .img-list li {
    height: 690px;
  }
  .map-row iframe {
    width: 93%;
    height: 260px;
  }
  #btn {
    width: 35%;
  }
}
